#!/bin/bash

wmname LG3D

~/.config/polybar/launch.sh &

bspc monitor -d I II III IV V VI VII VIII IX X

bspc config remove_disabled_monitors true
bspc config remove_unplugged_monitors true

bspc config split_ratio 0.50
bspc config focus_follows_pointer false
bspc config ignore_ewmh_focus true
# I'd like to ignore all, but youtube won't enter fullscrenn even when firefox
# is on fullscreen
bspc config ignore_ewmh_fullscreen none
bspc config center_pseudo_tiled true
bspc config honor_size_hints false

bspc config focused_border_color "#{{base0B-hex}}"

bspc config border_width 3
bspc config window_gap 8
bspc config top_padding 0
bspc config right_padding 0
bspc config bottom_padding 32
bspc config left_padding 0

bspc config borderless_monocle true
bspc config gapless_monocle true
bspc config single_monocle false
bspc config top_monocle_padding 0
bspc config right_monocle_padding 0
bspc config bottom_monocle_padding 0
bspc config left_monocle_padding 0

