[user]
	email = bruno.delfino1995@gmail.com
	name = Bruno Felipe Leal Delfino
	signingkey = 69755601B3AFF040439A1BB1F4EF91F02AACA9DF
[alias]
	please = push --force-with-lease
	commend = commit --amend --no-edit
	it = !git init && git commit -m \"Initial commit\" --allow-empty
	grog = log --graph --decorate --format=format:\"%C(bold blue)%h%C(bold yellow)%d%n%C(white)%s%n%C(white)%an at %C(bold green)(%ar)%n\"
	merc = merge --no-ff
	shorty = status --short --branch
	unstage = reset HEAD
	last = log -1 HEAD
	slog = log --oneline
	remove-gone = !git branch -D `git branch -v | grep '\\[gone\\]' | awk '{print($1)}'`
	oldest-ancestor = !zsh -c 'diff -u <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | sed -ne \"s/^ //p\" | head -1' -
	squash = !zsh -c 'git reset --hard \"$1\" && git merge --squash HEAD@{1} && git commit' -
	ls-conflicts = diff --name-only --diff-filter=U
	ls-ignored = !zsh -c 'diff -n <(git status --short | cut -d\" \" -f 2-) <(git status --ignored --short | cut -d\" \" -f 2-) | tail +2'
	ls-untracked = !zsh -c 'diff -n <(git status --untracked-files=no --short | cut -d\" \" -f 2-) <(git status --untracked-files=normal --short | cut -d\" \" -f 2-) | tail +2'
	pick-from = !zsh -c 'git cherry-pick $(git slog HEAD..$1 | tac | vipe | cut -d\" \" -f 1 | column)' -
[pull]
	rebase = true
[commit]
	gpgsign = true
[push]
	default = simple
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[tag]
	gpgsign = true
[rebase]
	autoSquash = true
[fetch]
	prune = true
