colorschemes/*
!colorschemes/.gitkeep

# compiled
desktop/.Xresources.d/colors
desktop/.config/alacritty/alacritty.yml
desktop/.config/rofi/config.rasi
shell/.profile
nvim/.config/nvim/colors/base16.vim
desktop/.config/zathura/zathurarc

