colorschemes/*
colorscheme.yaml
!colorschemes/.gitkeep

# compiled
*.tmp
configs/.config/alacritty/alacritty.yml
configs/.config/bspwm/bspwmrc
configs/.config/dunst/dunstrc
configs/.config/nvim/colors/base16.vim
configs/.config/picom/picom.conf
configs/.config/polybar/config
configs/.config/rofi/config.rasi
configs/.config/zathura/zathurarc
configs/.local/bin/de-lock
configs/.profile
configs/.Xresources.d/colors
