[colors]
base00 = #{{base00-hex}}
base01 = #{{base01-hex}}
base02 = #{{base02-hex}}
base03 = #{{base03-hex}}
base04 = #{{base04-hex}}
base05 = #{{base05-hex}}
base06 = #{{base06-hex}}
base07 = #{{base07-hex}}
base08 = #{{base08-hex}}
base09 = #{{base09-hex}}
base0A = #{{base0A-hex}}
base0B = #{{base0B-hex}}
base0C = #{{base0C-hex}}
base0D = #{{base0D-hex}}
base0E = #{{base0E-hex}}
base0F = #{{base0F-hex}}

[sizes]
workspace-bottom = 2
border-top = 1

[bar/default]
monitor = ${env:MONITOR:}
width = 100%
height = 32
bottom = true
offset-x = 0
offset-y = 0
fixed-center = true

background = ${colors.base00}
foreground = ${colors.base05}

line-size = ${sizes.workspace-bottom}

border-top-size = ${sizes.border-top}
border-color = ${colors.base05}

padding-left = 2
padding-right = 2

module-margin-left = 1
module-margin-right = 1

font-0 = "Lexend Deca:fontformat=truetype:size=12:antialias=true;2"
font-1 = "PolybarIcons:fontformat=truetype:size=12:antialias=true;2"

modules-left = bspwm
modules-center =
modules-right = filesystem memory cpu temperature battery sep wlan eth

tray-position = none

wm-restack = bspwm
override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

cursor-click = pointer
cursor-scroll = ns-resize

[bar/primary]
monitor = ${env:MONITOR:}
width = 100%
height = 32
bottom = true
offset-x = 0
offset-y = 0
fixed-center = true

background = ${colors.base00}
foreground = ${colors.base05}

line-size = ${sizes.workspace-bottom}

border-top-size = ${sizes.border-top}
border-color = ${colors.base05}

padding-left = 2
padding-right = 2

module-margin-left = 1
module-margin-right = 1

font-0 = "Lexend Deca:fontformat=truetype:size=12:antialias=true;2"
font-1 = "PolybarIcons:fontformat=truetype:size=12:antialias=true;2"

modules-left = bspwm
modules-center =
modules-right = pulseaudio sep date

tray-position = right
tray-padding = 2
tray-background = ${colors.base0B}

wm-restack = bspwm

override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

cursor-click = pointer
cursor-scroll = ns-resize

[module/sep]
type = custom/script
exec = echo "|"
interval = 3600

[module/title]
type = internal/xwindow

format = <label>
format-background = ${colors.base05}
format-foreground = ${colors.base00}
format-padding = 4

label = %title%
label-empty = ???
label-empty-foreground = ${colors.base03}
label-maxlen = 50

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

format-mounted-prefix = " "
format-mounted-prefix-foreground = ${colors.base0B}
label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.base0B}

[module/bspwm]
type = internal/bspwm

label-focused = %name%
label-focused-padding = 2
label-focused-foreground = ${colors.base05}
label-focused-background = ${colors.base01}
label-focused-underline = ${colors.base0B}

label-unfocused = %name%
label-unfocused-padding = 2
label-unfocused-foreground = ${colors.base03}
label-unfocused-background = ${colors.base00}

label-occupied = %name%
label-occupied-padding = 2
label-occupied-foreground = ${colors.base05}
label-occupied-background = ${colors.base00}

label-urgent = %name%!
label-urgent-padding = 2
label-urgent-foreground = ${colors.base07}
label-urgent-background = ${colors.base03}
label-urgent-underline = ${colors.base0A}

label-empty =
label-empty-padding = 2
label-empty-foreground = ${colors.base03}
label-empty-background = ${colors.base00}

; Separator in between workspaces
; label-separator = |

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.base0B}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.base0B}
label = %percentage_used%%

[module/wlan]
type = internal/network
interface = wlp2s0
interval = 3.0

format-connected = <ramp-signal> <label-connected>
label-connected = %essid%

format-disconnected = 
label-disconnected = 0.0.0.0
label-disconnected-foreground = ${colors.base03}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-foreground = ${colors.base0B}

[module/eth]
type = internal/network
interface = enp0s25
interval = 3.0

format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.base0B}
label-connected = %local_ip%

format-disconnected-prefix = " "
label-disconnected = 0.0.0.0
label-disconnected-foreground = ${colors.base03}

[module/date]
type = internal/date
interval = 5

date = "%Y-%m-%d"
date-alt = "%A, %B %d"

time = "%H:%M:%S"
time-alt = "at %H:%M"

format-prefix = " "
format-prefix-foreground = ${colors.base0B}

label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

; Sink to be used, if it exists (find using `pacmd list-sinks`, name field)
; If not, uses default sink
;sink = alsa_output.pci-0000_00_1f.3.analog-surround-51

; Use PA_VOLUME_UI_MAX (~153%) if true, or PA_VOLUME_NORM (100%) if false
use-ui-max = false

; Interval for volume increase/decrease (in percent points)
interval = 5

format-volume = "<ramp-volume> <label-volume>"
format-muted = "<label-muted> 0%"
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-3 = 
ramp-volume-foreground = ${colors.base0B}

label-muted = 
label-muted-foreground = ${colors.base03}
label-volume = %percentage:2%%

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.base08}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.base0B}
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 75

format = <ramp> <label>
format-warn = <ramp> <label-warn>

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.base0B}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-5 = 
ramp-foreground = ${colors.base0B}

; vim:ft=dosini
