#!/bin/bash

xrandr --auto
autorandr --change
redshift -P -O 4500

xrdb -I"$HOME" ~/.Xresources

xsetroot -cursor_name left_ptr
hsetroot -solid '#262729'

xset s on
xset s 600
xss-lock de-lock &

xset r rate 250 30

clipster -d &
sxhkd &
picom &
dunst &
dapper -u

emacs --daemon
